{% load static %}
{% load crispy_forms_tags%}
<html>
    <head>

        <meta charset="utf-8" />

        <meta name="viewport" content="width-device-width, initial-scale=1, maximum-scale=1"/>

        <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/solar/bootstrap.min.css">

        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

        <title> Basan|Create Task </title>

    </head>

    {% include "profile/base.html" %}

    <br>

    <div class="contain bg-white shadow-md p-5 form-layout style="margin-top:20px;"">
        <h2> Create task </h2>
        <hr>
        <br>

        <form method="POST" id="task-form" autocomplete=off>

            {% csrf_token %}

            {{ formm.title |as_crispy_field}}
            {{ formm.content |as_crispy_field}}
            {{ formm.deadline |as_crispy_field}}
            <br> <br>
        
        <input class="btn btn-primary navbar-btn" type="submit" value="Create"> 
        &nbsp;
        <a class="btn btn-primary" type="button" href="{% url 'dashboard' %}">Go to Dashboard</a>
        </form>

    </div>
</html>

